<nav class="flex justify-between items-center bg-gray-900 p-4 w-full">
    <div class="flex items-center space-x-4">
      <button (click)="goBack()" class="px-4 py-2 text-white hover:bg-gray-800 rounded-lg transition duration-300 ease-in-out flex items-center" aria-label="Go back to previous page">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
        </svg>
        Exit Chat
      </button>
    </div>
      <div>
        <span class="text-white text-xl font-bold">InAir: UserName [Room-Name]</span>
      </div>
    <div class="flex items-center">
      <img [src]="logoUrl" alt="Company Logo" class="h-10 w-auto" (error)="handleImageError($event)">
    </div>
  </nav>